---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="formazione — Auriga" headerTheme="light" pageClass="bg-[#ee0700] text-white" pageBg="dark">
    <section class="max-w-6xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-4">Formazione</h1>
    <div class="mt-12"></div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-transparent border-2 border-white rounded-lg p-6 shadow-lg w-full text-white">
          <a href="/formazione/corsi-permanenti" class="text-xl font-semibold text-[#65FF1C] hover:underline block mb-2">
            Corsi permanenti
          </a>
          <p>Corsi <strong>triennali mensili</strong> di Sprachgestaltung e Arte drammatica, in collaborazione con l’Accademia <strong>“Aldo Bargero”</strong>.</p>
        </div>
        <div class="bg-transparent border-2 border-white rounded-lg p-6 shadow-lg w-full text-white">
          <a href="/formazione/corsi-intensivi" class="text-xl font-semibold text-[#65FF1C] hover:underline block mb-2">
            Corsi intensivi
          </a>
          <p>Corsi <strong>trimestrali intensivi</strong> per studenti universitari, in collaborazione con <strong>La Sapienza</strong>.</p>
        </div>
      </div>

    <div class="mt-12"></div>
    <div class="mt-6 mb-8 space-y-5 leading-relaxed md:leading-8 text-lg text-justify">
      <p>Il mestiere dell’<strong>attore</strong> nell’immaginario comune è stato associato a molti ideali collegati alle mode del momento, alla sorte che, il più delle volte, subiva l’<strong>arte scenica</strong>. La <strong>naturalezza</strong> dell’interpretazione è stata sempre più considerata una virtù somma, un valore insostituibile. In particolare, da quando il termine di confronto è divenuto sempre più la vita di tutti i giorni, la <strong>spontaneità</strong> ha creato un “<strong>mito</strong>” che a sua volta ha trasformato l’arte dell’attore, richiedendo piuttosto scatenamenti viscerali che elaborazioni approfondite e condotte coscienziosamente.</p>
      <p>Nei primi anni del secolo scorso, in un momento di svolta epocale di tutte le arti, viene una risposta profondamente significativa a molti degli interrogativi sull’arte dell’interprete teatrale. La <strong>parola</strong> riprende una posizione centrale nel percorso di formazione e si affianca alla <strong>musica</strong> nella valutazione oggettiva dell’interprete.</p>
      <p>Il <strong>fonema</strong> - vocalico e consonantico -, l’<strong>immagine sonora</strong>, il susseguirsi ritmico delle sillabe e dei versi, la frase nella sua costruzione, le atmosfere suggerite dalle risonanze prevalenti nel <strong>testo poetico</strong>, e tanti altri aspetti del <strong>linguaggio</strong> sempre meno presenti in quegli anni di trasformazione, tornano a divenire strumenti espressivi grazie a nuovi punti di vista che colgono la sostanza conoscitiva vivente nel linguaggio.</p>
    </div>
  </section>
</BaseLayout>